<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
</head>
<body>
    <h1>Redirect To Admin</h1>
    <p> To Redirect to the Admin page Use the Below Link</p>
    <a href="http://127.0.0.1:5000/admin"> Click here to navigate</a>
    <h1>Redirect To Guest User</h1>
    <p> To Redirect to the Guest-User page Use the Below Link</p>
    <a href="http://127.0.0.1:5000/user/arshad">Click here to guest-uaer</a>
</body>
</html>